<div id="<%= dom_id cocktail %>">
  <p>
    <strong>Image:</strong>
    <%= cocktail.image %>
  </p>

  <p>
    <strong>Ingredients:</strong>
    <%= cocktail.ingredients %>
  </p>

  <p>
    <strong>Directions:</strong>
    <%= cocktail.directions %>
  </p>

</div>
