/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Edu+VIC+WA+NT+Beginner&family=Poppins:wght@300;400;500;600&family=Rubik+Moonrocks&display=swap');

 * {
   margin: 0;
   padding: 0;
   font-family: 'Edu VIC WA NT Beginner', cursive;
   color: white;
   text-align: center;
}
.btn {
	background-color: transparent;
}

// -----HEADER-------
.color-nav {
	background: #3c3b3bc7;
    backdrop-filter: blur(4px);
}

.img-responsive {
	border-radius: 1rem;
   	height: 5vh;
}

// ----FOOTER-----




//----FORM----
.submit-button {
	margin:auto;
}

.form-container {
    display:block;
    height: 88.7vh;
    object-fit: contain
 }
 
 #preview {
    object-fit: contain;
 }

 #ingredients {
    overflow-y: scroll;
    height: 30vh;
 }
 #directions {
    overflow-y: scroll;
    height: 30vh;
 }

 .form-height {
    height: 80vh;
 }
//----OFFCANVAS---
.offcanvas {
	background-color: black;
}

//----app----
 .app-container {
    min-height: 100vh;
    margin:auto;
    background: black;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1572116469696-31de0f17cc34?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
	background-attachment: fixed;
 	background-position: center;
 	background-repeat: no-repeat;
  	background-size: cover;

  }

  .carousel {
	z-index: 1;
  }
  .carousel-indicators {
	visibility: hidden;
  }
  .carousel-control-next-icon {
	visibility: hidden;
  }
  
  .carousel-control-prev-icon {
	visibility: hidden;
  }
  .carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 81vh;
    overflow: hidden;
  }

  .carousel-indicators li { 
	visibility: hidden;
  }



 #home-title {
    color:white;
    text-align:center;
	background-color: black;
	margin: 0;
	padding-bottom: 1rem;
 }



//  -----Index------
#index-card {

	background: #3c3b3bc7;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	margin-bottom: 2.5rem;
	
}

#index-card .card-img{ 
   height: 40vh;
   object-fit: cover;
   object-position: center;
   padding: 2rem;
   border-radius: 2.5rem;


}

#index-card:hover{
	transform: scale(1.05);
 	box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.more-info {
	border-color: white;
	background-color: black;
    color: white;
}
.more-info:hover {
	background-color: white;
	color: black;
}
.landing-page {
   z-index: 1;
}




// -------Bubbles-------
.home-container {
	position: relative;
	display: grid;
	overflow: hidden;
}

.bubbles-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 15rem;
    transform: translateX(-50%);
	opacity: 0.75;
	z-index: 2;
	overflow: visible;
}

.bubbles {
	width: 100%;
	height: auto;
   	overflow: visible;
	
	circle {
		stroke: white;
		fill: none;
	}
	
	> g > g:nth-of-type(3n) circle {
		stroke: #87f5fb;
	}
	
	> g > g:nth-of-type(4n) circle {
		stroke: #8be8cb;
	}
	
}

.bubbles-large {
	overflow: visible;

	> g {
		transform: translateY(2048px);
		opacity: 0;
		will-change: transform, opacity;
	}

	g:nth-of-type(1) {
		animation: up 6.5s infinite;
		
		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(2) {
		animation: up 5.25s 250ms infinite;
		
		g {
			transform: translateX(450px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(3) {
		animation: up 6s 750ms infinite;
		
		g {
			transform: translateX(700px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(4) {
		animation: up 5.5s 1.5s infinite;
		
		g {
			transform: translateX(500px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}
	
	g:nth-of-type(5) {
		animation: up 6.5s 4s infinite;
		
		g {
			transform: translateX(675px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}

}

.bubbles-small {
	overflow: visible;

	> g {
		transform: translateY(2048px);
		opacity: 0;
		will-change: transform, opacity;
	}

	g circle {
		transform: scale(0);
	}

	g:nth-of-type(1) {
		animation: up 5.25s infinite;
		
		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(2) {
		animation: up 5.75s infinite;
		
		g {
			transform: translateX(750px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(3) {
		animation: up 5.25s 250ms infinite;
		
		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s 250ms infinite ease-in-out;
		}

	}

	g:nth-of-type(4) {
		animation: up 5.75s 325ms infinite;
		
		g {
			transform: translateX(180px);
		}

		circle {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}

	g:nth-of-type(5) {
		animation: up 6s 125ms infinite;
		
		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s 250ms infinite ease-in-out;
		}

	}

	g:nth-of-type(6) {
		animation: up 5.13s 250ms infinite;
		
		g {
			transform: translateX(650px);
		}

		circle {
			animation: wobble 3s 125ms infinite ease-in-out;
		}

	}

	g:nth-of-type(7) {
		animation: up 6.25s 350ms infinite;
		
		g {
			transform: translateX(480px);
		}

		circle {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}
	
	g:nth-of-type(8) {
		animation: up 7s 200ms infinite;
		
		g {
			transform: translateX(330px);
		}

		circle {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}

	g:nth-of-type(9) {
		animation: up 6.25s 233ms infinite;
		
		g {
			transform: translateX(230px);
		}

		circle {
			animation: wobble 3s 275ms infinite ease-in-out;
		}

	}
	
	g:nth-of-type(10) {
		animation: up 6s 900ms infinite;
		
		g {
			transform: translateX(730px);
		}

		circle {
			animation: wobble 2s 905ms infinite ease-in-out;
		}

	}
	
}

@keyframes wobble {
	
	33% {
		transform: translateX(-50px);
	}
	
	66% {
		transform: translateX(50px);
	}
	
}

@keyframes up {

	0% {
		opacity: 0;
	}
	
	10%, 90% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		transform: translateY(-1024px);
	}
	
}